#jon {
    width: 300px;
    max-height: 300px;
    margin: 7px auto;
}
#title {
    color: lightcyan;
}
h3 {
    color:slateblue;
    text-align: center;
    text-decoration: underline dotted black;
    max-width: 120px;
    margin: 20px auto;
    padding: 5px
}

h2 {
    color: slateblue;
    border: 2px double black;
    border-radius: 20%;
    max-width: 120px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    background-color: aliceblue;
}
#poop {
    color: white;
    border: 2px double black;
    max-width: 120px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    background-color: black;
}
p {
    font-family: cursive;
    background-color: rgb(19, 19, 44);
    color: white;
    
}
body {
    background-image: url("https://i.gifer.com/1euX.gif");
background-size: cover;
}
ul {
    border: 2px solid paleturquoise;
    font-family: cursive;
    list-style-type: none;
    background-color: slategrey;
    color: wheat;
}
img {
    display: block;
     margin-left: auto;
     margin-right: auto;
  }


li {
    text-align: center;
}
h1 {
    text-align: center;
}